<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <a href="{%url 'logout'%}">Logout</a>
            </li>
            <li>
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li>
                <a href="{% url 'create_receipt' %}">Create receipt</a>
            </li>
            <li>
                <a href="{% url 'create_account' %}">Create account</a>
            </li>
            <li>
                <a href="{%url 'create_category'%}">Create Expenses Category</a>
            </li>
            <li>
                <a href="{%url 'expenses_list'%}">Expenses List</a>
            </li>
            {%endif%}
            {% if not user.is_authenticated %}
            <li>
                <a href="{%url 'signup'%}">Sign Up</a>
            </li>
            <li>
                <a href="{%url 'login'%}">Login</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <main>
        <h1>Accounts</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number</th>
              <th>Number of receipts</th>
            </tr>
          </thead>
          <tbody>
            {% for account in accounts_list %}
              <tr>
                <td>{{ account.name }}</td>
                <td>{{ account.number }}</td>
                <td>{{ account.receipts.all|length }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </main>
</body>
</html>